///*------------------------------------*\
//    #HEADER
//\*------------------------------------*/

$header-height: 450px;

.page-head {
    padding-top: $inuit-base-spacing-unit--small;
    padding-bottom: $inuit-base-spacing-unit--small;
    height: $header-height;

    background: url(../img/page-header.jpg) center center;
    @include vendor(background-size, cover);
    color: $color-page-head;
}

.page-head__menu {
    margin-top: $inuit-base-spacing-unit--large;
    height: 80px;
    line-height: 80px;
    position: relative;
}

.page-head__menu--brand {
    background: $background-color-page-head-brand url(../img/logo.png) 15% center no-repeat;
    height: 100%;
    color: $color-dark;
    padding-left: 70px;

    @include media-query('portable') {
        background-position: center center;
    }
}
.page-head__menu--brand-text {
    @include media-query('portable') {
        display: none;
    }
}
.page-head__menu--home {
    background: url(../img/icon-home.png) no-repeat center center;
    position: absolute;
    top: 10px;
    height: 60px;
    width: 60px;
    @include hideText();
    margin-left: -30px;
    @include transition(all, 1s, ease-in-out);

    &:hover {
        transform: scale(1.1);
    }

    @include media-query('retina') {
        background: url(../img/icon-home@2x.png) no-repeat center center;
        background-size: 60px;
    }
}

.page-head__menu--links {
    background: $background-color-page-head-menu;
    height: 100%;
}

.page-head__menu--link {
    padding: 0 $inuit-base-spacing-unit;
    color: #fff;
    display: inline-block;

    &:hover {
        background: rgba(255, 255, 255, .2);
    }
    &:first-child {
        margin-left: $inuit-base-spacing-unit--small;
    }
}

.page-head__menu--search {
    background: url(../img/icon-search.png) center center no-repeat;
    @include hideText();
    margin-right: $inuit-base-spacing-unit;
    float: right;
    height: 100%;
    width: 31px;

    &:hover {
        background: url(../img/icon-search--hover.png) center center no-repeat;
    }
}

.page-head__menu--close-search {
    @extend .page-head__menu--search;

    background: url(../img/icon-home.png) center center no-repeat;
    &:hover {
        background: url(../img/icon-home.png) center center no-repeat;
    }
}

.page-head__search {
    height: 70px;
}

.page-head__search--field {
    height: 100%;
    color: $color-dark;
    padding: 0 $inuit-base-spacing-unit;
    border: none;
    outline: none;
}

.page-head__search--submit {
    height: 100%;
    background: $color-brand url("../img/icon-search--hover.png") center center no-repeat;
    border: none;
    @include hideText();
}
