/*------------------------------------*\
# Paragraph
\*------------------------------------*/

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}
