///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-dark: #1a1a1a;
$color-brand:   #3498db;


// Page
$inuit-base-background-color:   #ededed;
$inuit-base-text-color:         $color-dark;

// Links
$color-links:           $color-dark;

// Text

// Buttons

// Page head
$color-page-head:                    #fff;
$color-page-head-menu-background:    $color-brand;
$color-page-head-brand-background:   #fff;
