doctype html
html(lang="fr")
  head
    title Woo4Men
    meta(charset='UTF-8')
    meta(content='fr', name='language')
    meta(content='Woo4Men a été créé par des passionnés de chemises pour des passionnés de chemises avec un service en ligne qui répond aux attentes les plus exigeantes des hommes qui aiment se démarquer et porter des chemises uniques.', name='description')
    meta(content='woo4men,chemises,chemise,4woomen', name='keywords')
    meta(content='woo4men,chemises,chemise,4woomen', name='keywords')
    meta(content='3 days', name='revisit-after')

    link(href='css/style.css', rel='stylesheet')

  body
    include partials/_header
    block content
    script(src='/scripts/main.js')
