header.page-head
    nav.page-head__menu.wrapper.layout
        p( class="pr+" ).layout__item.page-head__menu--brand.one-fifth
            span.text-uppercase Woo
            span.text-bold 4
            span.text-uppercase.text-italic Men
        a.page-head__menu--home Accueil
        div( class="pl+" ).layout__item.page-head__menu--links.four-fifths
            a.page-head__menu--link Hommes
            a.page-head__menu--link Femmes
